/* E:\programming\Project\latexify\app\globals.css */

/* app/globals.css */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.codeStyle {
  display: inline-block;
  padding: 0.2em 0.4em;
  font-family: monospace;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
}
